// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bio-block{
  text-align: center;
}

.bio-photographer{
  background-color:#ffffff;
  color:#000000;
}

.bio-developer{
  background-color:#000000;
  color:#ffffff;
}